package #{package}.controller;

import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RestController;

@RestController
public class #{countryCamel}#{submoduleCamel}Controller {

  @GetMapping("/hello")
  public String hello() {
    return "TODO FIX ME";
  }
}