package #{package}

import com.mm.base.endpoint.MMApp
import #{package}.config.#{countryCamel}#{submoduleCamel}Config

object #{countryCamel}#{submoduleCamel}App {

  @JvmStatic
  fun main(args: Array<String>) {
    MMApp.run("#{countryLowercase}", "#{countryLowercase}-#{submoduleLowerHyphen}", #{countryCamel}#{submoduleCamel}Config::class.java)
  }
}